@model IEnumerable<ProjetoFinanceiro.Web.Models.ClienteViewModel>

@{
    ViewData["Title"] = "Index";
}

<h4>Index</h4>

<p>
    <a asp-action="Create">Novo cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ClienteId }) |
                @Html.ActionLink("Details", "Get", new { id = item.ClienteId }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.ClienteId })
            </td>
        </tr>
}
    </tbody>
</table>
