@model ProjectFinance.Web.Models.DTO.DtoPeople

@{
    ViewData["Title"] = "Details";
}

<h1>People</h1>
<h1 class="display-3 text-center">@ViewData["Title"]</h1>
<div class="container mx-auto text-center">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-block">
                    <h3 class="card-title p-y-1">Id: @Html.DisplayFor(model => model.Id)</h3>
                    <h6 class="card-text p-y-1">Name: @Html.DisplayFor(model => model.Name)</h6>
                    <h6 class="card-text p-y-1">E-mail: @Html.DisplayFor(model => model.Email)</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary" role="button">Edit</a>
    <a asp-action="Index" role="button" class="btn btn-secondary">Back</a>
</div>
